body{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #BBDEFB;
}

.container{
    display: flex;
    justify-content: center; /* Centrar en el eje x */
    align-items: center; /* Centrar en el eje y */
    width: 100vw; /* Ajustar al ancho de la ventana */
    height: 100vh; /* Ajustar a la altura de la ventana */
}
img{
    height: 250px;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
}
.container-img{
    position: relative;
    display: inline-block;
}
.container-img:hover img{
    transform: translateY(-20px);
    cursor: pointer;
}
.container-nombre{
    position: absolute;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    display: none;
    min-width: 100px;
    width: 150px;
    top: -60px;
    left: -5px;
    padding: 10px 15px;
}
.text{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
}
.container-img:hover > .container-nombre{
    display: inline-block;
    transform: translateY(-20px);
}
.container-nombre::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    left: 40%;
    bottom: -20px;
    border-top: 10px solid  #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@media (max-width: 680px){
    .container{
        flex-direction: column;
        height: 100%;
    }
    .container-img{
        margin: 65px;
    }
}
